# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env/
env/


# Environment variables
.env
*.env

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker (optional)
docker-compose.yml
Dockerfile